@media screen and (max-width: 425px) {
    body {
        padding: 0 10px;
    }
    h1 {
        font-size: 2rem;
    }
    .header {
        height: 60px;
        padding: 0 10px;
        border-bottom: 2px solid black;
    }
    .header-img {
        max-width: 50px;
    }
    .hamburger {
        padding: 0.3rem;
    }
    .menu-content {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .menu-content ul {
        padding: 0;
    }
    .menu-content li {
        padding: 8px 0;
    }
    .ficha-tecnica {
        width: 60%;
        max-width: 100px;
    }
    .ficha-tecnica h2 {
        font-size: 1.1rem !important;
        margin-bottom: -10px !important; 
    }
    .ficha-tecnica li, .ficha.tecnica th {
        font-size: 0.8rem !important;
    }
    .ficha-tecnica td, .ficha-tecnica th {
        border-top: 1px transparent !important;
    }
    .ficha-tecnica .portada img {
        transform: scale(0.8);
        transform: scaleY(0.7);
    }
    .ficha-tecnica table {
        width: 90%;
        margin: 0 auto;
    }
    .dropdown-content {
        top: 70px;
        flex-wrap: wrap;
        padding: 5px;
    }
    .dropdown-content img {
        height: 20px;
        width: 35px;
        transform: scale(0.7);
    }
    .dropdown-content a {
        width: 60px;
        display: flex;
        justify-content: center;
    }
    .container {
        padding: 10px;
        max-width: 400px;
        width: 90%;
    }
}
@font-face {
    font-family: "Guanine";
    src: url("../fonts/Guanine.otf");
}
* {
    font-family: "Noto Sans";
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
body {
    margin-top: 80px;
}
h2 {
    font-size: 2.2rem;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 3px solid black;
    z-index: 1;
}
.header-img {
    display: block;
    height: 70px;
}
.header-container {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}
.hamburger {
    background: none;
    cursor: pointer;
    padding: 0.2rem;
    margin-right: 4px;
    border-radius: 6px;
}
.line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: transform 0.3s ease;
}
.menu-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 1.2rem;
    z-index: 1000;
    border-radius: 12px;
    border: 3px solid #000000;
    margin: 8px 3px;
}
.menu-content.show {
    display: block;
}
.menu-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-content li {
    padding: 10px 0;
}
.menu-content a {
    text-decoration: none;
    font-size: 0.95rem
}
.dropdown-content {
    display: none;
    position: fixed;
    top: 69px;
    left: 0;
    width: 100%;
    margin-top: 0;
    z-index: 999;
    flex-direction: row;
    gap: 10px;
    transition: opacity 0.3s ease;
    justify-content: center;
    align-items: center;
}
.dropdown-content .logo {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.dropdown-content .logo-active {
    filter: grayscale(0%);
}
.dropdown-content img {
    height: 100px;
    width: auto;
    transform: scale(0.6);
}
.dropdown-content img:hover {
    transform: scale(0.9);
}
.dropdown-content a {
    color: transparent
}
.anchor, .anchor:visited {
    font-size: 2.5rem;
    font-family: "Guanine";
    margin: 0;
    grid-column: 2;
    text-align: center;
    text-decoration: none;
}
.trucos {
    display: none;
    margin-left: 40px;
}
.trucos.active {
    display: block;
}
.trucos h3 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.trucos ul {
    border-radius: 20px;
    width: 800px;
}
.trucos li:first-child {
    padding-top: 20px;
}
.trucos li:last-child {
    padding-bottom: 20px;
}
.trucos li {
    margin: 20px 0;
}
.trucos h4 {
    margin-bottom: -15px;
}
#pc span {
    border: 2px solid;
    padding: 2px;
    margin-right: 10px;
}
.menu {
    border-radius: 15px;
    padding: 20px;
    width: fit-content;
    margin: 40px auto;
}
.imagen-plataforma {
    display: flex;
    gap: 50px;
    justify-content: center;
}
.imagen-plataforma img {
    border-radius: 50px;
    width: 60px;
    height: 60px;
}
.plataforma:hover {
    cursor: pointer;
}
.ficha-tecnica {
    justify-self: end;
    max-width: 400px;
    border-radius: 6px;
}
.ficha-tecnica h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}
.ficha-tecnica .portada img {
    max-width: 80%;
    max-height: 80%;
    width: 290px;
    height: 350px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}
.ficha-tecnica table {
    width: 100%;
    border-collapse: collapse;
}
.ficha-tecnica li:last-child {
    margin-bottom: 20px;
}
.ficha-tecnica ul {
    padding: 0;
    margin-left: 20px
}
.ficha-tecnica .titulo {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: bold;
}
.ficha-tecnica td:first-child {
    border-top: none;
}
abbr {
    font-size: 0.8rem;
}
abbr:hover {
    cursor: help;
}
.tabla {
    padding: 0;
    margin-bottom: 10px;
}
.container {
    margin: 90px auto;
    padding: 15px;
    max-width: 1200px;
    width: 90%;
    border-radius: 15px;
}
.boton {
    width: 30px;
    height: 25px;
}
li {
    list-style: none;
}
.radio-titulo {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 60px 0;
    text-align: center;
}
.radio-container {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 50px;
    padding: 10px;
    justify-content: center;
}
.radio-container img {
    width: 130px;
    height: 130px;
    padding: 20px 13px;
    border: 4px solid;
    border-radius: 20px;
}
.radio-container img:hover {
    filter: blur(0.7px) brightness(0.3);
    transition: 0.25s ease-in-out;
    cursor: pointer;
}
audio {
    display: none
}
footer {
    height: 70px;
    width: 100%;
    color: #000000;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 3px solid #000000;
}
footer img {
    width: 50px;
    height: auto;
    border-radius: 10px;
    margin-right: 15px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center
}
footer p {
    margin: 0;
    font-size: 18px;
}
footer.hidden {
    display: none;
}
#playingImage {
    margin: 10px;
}
#playingTitle {
    flex: 1;
    text-align: left;
    font-size: 18px;
}
#progressBarContainer {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 6px;
    background: #ffffff;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
#progressBarContainer:hover, #progressBar:hover {
    cursor: pointer;
}
#progressBar {
    height: 100%;
    width: 0%;
    transition: width 0.12s ease-in;
    position: absolute;
    top: 0;
    left: 0;
}
#progressThumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.12s ease-in;
}
#progressBarContainer:hover #progressThumb {
    opacity: 1;
}
#timeCurrent {
    flex: 1;
    text-align: left;
    margin: 6px
}