@font-face {
    font-family: "Geneva";
    src: url("../fonts/Geneva\ Regular.ttf");
}
body::before {
    background-image: url(../images/fondo_vcs.jpg);
    filter: blur(10px);
}
h1 {
    color: #e7c4df;
    text-shadow: -1px -1px 0 #8f0571;
}
h4 {
    color: #b55582;
    text-shadow: 3px 3px 0 #040403;
}
.header {
    background-image: linear-gradient(90deg, #be52a1, #9bcaff);
}
.header-img {
    filter: drop-shadow(0px 0px 10px #f28dcb);
}
.line {
    background-color: #faf6f6;
}
.menu-content {
    background-color: #810543db;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu-content a {
    color: #ffffff;
    font-family: "Geneva";
}
.menu-content a.active {
    color: #ef74f3;
}
.dropdown-content {
    background-color: rgba(161, 59, 170, 0.85);
    box-shadow: 0px 8px 16px 0px #3bbff3;
}
.anchor, .anchor:visited {
    color: #b55582;
    text-shadow: 3px 3px 0 #040403;
}
.trucos h2, .trucos-active h2 {
    color: #e8a701;
}
.trucos h3, .trucos-active h3 {
    color: #ffffff;
}
.ficha-tecnica {
    border: 3px solid #000000;
    background-color: #f89ed9;
}
.ficha-tecnica h2 {
    color: #050303;
}
.ficha-tecnica td, .ficha-tecnica th {
    border-top: 1px solid #000000;
}
.ficha-tecnica th {
    background-color: #e3c1e2;
    border-right: 1px solid #000000;
}
.ficha-tecnica .titulo {
    color: #4c0e43;
}
abbr {
    font-family: "Geneva";
    color: #c533cffc;
}
.container {
    background-color: #fb58fb8c;
}