@font-face {
    font-family: "Bank Gothic";
    src: url("../fonts/Bank\ Gothic.ttf");
}
body::before {
    background-image: url(../images/fondo_sa.webp);
    filter: blur(5px);
}
h1 {
    color: #61bb17;
    text-shadow: -1px -1px 0 #232121;
}
h4 {
    font-family: "Guanine";
    color: #7df38e;
    text-shadow: 3px 3px 0 #000000;
}
.header {
    background-image: linear-gradient(177deg, #12ee84, #2d7114);
}
.header-img {
    filter: drop-shadow(3px 1px 5px #19d426);
}
.hamburger {
    border: 3px solid #06550c;
}
.line {
    background-color: #faf6f6;
}
.menu-content {
    background-color: #135519dd;
}
.menu-content a {
    color: #ffffff;
    font-family: "Bank Gothic";
}
.menu-content a.active {
    color: #55b72b;
}
.dropdown-content {
    background-color: rgba(60, 131, 74, 0.85);
    box-shadow: 0px 8px 16px 0px #1b4c0d;
}
.anchor, .anchor:visited {
    color: #eb6b09;
    text-shadow: 3px 3px 0 #000000;
}
.trucos h2, .trucos-active h2 {
    color: #278e05;
}
.trucos h3, .trucos-active h3 {
    color: #000000;
}
.ficha-tecnica {
    border: 3px solid #000000;
    background-color: #189022;
}
.ficha-tecnica h2 {
    color: #0f0b0b;
    text-shadow: 3px 3px 0 #77ff97;
}
.ficha-tecnica td, .ficha-tecnica th {
    border-bottom: 1px solid #420118;
}
.ficha-tecnica th {
    border-right: 1px solid #420118;
    background-color: #56c14e;
}
.ficha-tecnica .titulo {
    color: #80ef6e;
}
abbr {
    font-family: "Bank Gothic";
    color:#6dff41;
}
.container {
    background-color: #67ee77ad;
}
.radio-container img {
    background-color: rgb(0, 0, 0);
}
.radio-container img:hover {
    background-image: linear-gradient( #0b0b0cfd, #0c1b0e75);
}
footer {
    background: linear-gradient(#047ea3fd, #8f878dc9);
}
footer p {
    color: #ffffff;
}
#playingImage {
    border: 3px solid #052e50;
    background-color: #ffffff;
}
#progressBarContainer {
    background-color: #ffffff;
}
#progressBar {
    background-color: #250b63;
}