@font-face {
    font-family: "Guanine";
    src: url("../fonts/Guanine.otf");
}
body::before {
    background-image: url(../images/fondo_v.webp);
    filter: blur(10px);
}
h1 {
    color: #e7c4df;
    text-shadow: -1px -1px 0 #8f0571;
}
h4 {
    color: #2a3d46;
    text-shadow: 3px 3px 0 #999ca3;
}
.header {
    background-image: linear-gradient(90deg, #75bc72, #4eb7d1, #f1905c);
}
.header-img {
    filter: drop-shadow(0px 0px 10px #80f36b);
}
.hamburger {
    border: 3px solid #ddaecd
}
.line {
    background-color: #faf6f6;
}
.menu-content {
    background-color: #163e11de;
}
.menu-content a {
    color: #ffffff;
    font-family: "Chalet";
}
.menu-content a.active {
    color: #6397d6;
}
.dropdown-content {
    background-image: linear-gradient(270deg, #74bc72bb, #4eb7d1bb, #f1905cbb);
    box-shadow: 0px 8px 16px 0px #76f851;

}
.anchor, .anchor:visited {
    color: #111111;
    text-shadow: 3px 3px 0 #bcffb2;
}
.ficha-tecnica {
    border: 3px solid #000000;
    background-color: #73ce6a;
}
.ficha-tecnica h2 {
    color: #000000;
}
.ficha-tecnica td, .ficha-tecnica th {
    border-bottom: 1px solid #0a0a0a;
}
.ficha-tecnica th {
    border-right: 1px solid #000000;
    background-color: #baffc1;
}
abbr {
    font-family: "Chalet";
    color: #166702;
}
.container {
    background-color: #42b74ca7;
}
