@font-face {
    font-family: "Helvetica Neue Heavy";
    src: url("../fonts/HelveticaNeueHeavy.otf");
}
body::before {
    background-image: url(../images/fondo_iv.webp);
    filter: blur(10px);
}
body {
    color: white;
}
h1 {
    color: #000000;
    text-shadow: 2px 2px 4px #ddd;
}
h4 {
    color: #b2b2b2;
    text-shadow: 3px 3px 0 #000000;
}
.header {
    background-image: linear-gradient(150deg, #9fa5a6, #1b1616);
}
.header-img {
    filter: drop-shadow(0px 0px 10px #f7dddd);
}
.hamburger {
    border: 3px solid #ffffff
}
.line {
    background-color: #cfcece;
}
.menu-content {
    background-color: #403e3ef6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu-content a {
    color: #ffffff;
    font-family: "Helvetica Neue Heavy";
}
.menu-content a.active {
    color: #898383;
}
.dropdown-content {
    background-color: #5a5a5ad9;
    box-shadow: 0px 8px 16px 0px #decbb9;
}
.anchor, .anchor:visited {
    color: #ffffff;
    text-shadow: 3px 3px 0 #000000;
}
.trucos {
    display: block;
}
.trucos span {
    font-weight: bold;
    font-size: 1.2rem;
    color: #a7a5a5;
}
.trucos h3 {
    font-size: 1.3rem;
    color: #ffffff;
    text-decoration: underline;
}
.ficha-tecnica {
    border: 3px solid #000000;
    background-color: #777977;
}
.ficha-tecnica h2 {
    color: #0f0b0b;
    text-shadow: 3px 3px 4px #d9d9d9;
}
.ficha-tecnica td, .ficha-tecnica th {
    border-bottom: 1px solid #420118;
}
.ficha-tecnica th {
    border-right: 1px solid #420118;
    background-color: #353535;
}
.ficha-tecnica .titulo {
    color: #0a0808;
}
abbr {
    font-family: "Helvetica Neue Heavy";
    color:#2c2c2cf4;
}
.container {
    background-color: #111210c6;
}